@font-face {
  font-family: 'Farro';
  src:         url('../fonts/farro/Farro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: 'Farro';
  src:         url('../fonts/farro/Farro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Farro';
  src:         url('../fonts/farro/Farro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style:  normal;
}
@font-face {
  font-family: 'Farro';
  src:         url('../fonts/farro/Farro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: 'OpenSans';
  src:         url('../fonts/openSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Noto Sans';
  src:         url('../fonts/notoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

